<div class="main-container">
    <div>
            <table>
            <tr>
               <th>Name</th>
               <th><input type="text" ng-model="name"></th>
            </tr>
            <tr>
               <th>Email</th>
               <th><input type="text" ng-model="email"></th>
            </tr>
            <tr>
               <th>Country</th>
               <th><input type="text" ng-model="country"></th>
            </tr>
            <tr>
               <th>Password</th>
               <th><input type="text" ng-model="password"></th>
            </tr>
         </table>
    </div>
    <div>
        <input type="submit" class="button" value="Add_Member" ng-click="addMember()">
    </div>


</div>